<!-- <div class="wrapper">
    <div *ngFor="let product of products" class="card">
      <img [src]="product.image"/>
      <div>
        <h5>{{product.title}}</h5>
        <p class="price">Price = ${{product.price}}</p>
        <p>{{product.description}}</p>
      </div>
      <div class="cart-btn-div">
        <button type ="button">Add to Cart</button>
      </div>
    </div>
    
  </div> -->


<main>
  <div class="main-title"><h4>Lets's start shopping!</h4></div>
  <div
    class="container-fluid bg-trasparent my-4 p-3"
    style="position: relative"
  >
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
      <div class="col" *ngFor="let product of products">
        <div class="card h-100 shadow-sm">
          <img
          [src]="product.image"            
          class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-primary text-wrap"
                >{{product.title}}</span
              >
              <span class="float-end price-hp">{{product.price}}&euro;</span>
            </div>
            <h5 class="card-title">
              {{product.description}}
            </h5>
            <div class="text-center my-4">
              <a href="#" class="btn btn-warning">Check offer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
